@import url('/styles/login.css');

/* Specific overrides for Signup if needed */
.auth-card {
  min-height: 850px;
  /* Slightly taller for more fields */
}

.image-side {
  background-image: url('/images/signuppage.jpg');

}